.container
  .col-md-4
    .page-header
      %h1= @user.first_name + " " + @user.last_name
  .col-md-8
    .courses
      .page-header
        %h1 Your Courses
      - if @user.courses.present?
        - @user.courses.each do |course|
          .course{ id: "course_#{course.id}"}
            %h3= link_to course.title, course_path(course)
      - else
        %p.lead It looks like you're not registered for any courses
        %button.btn.btn-info= link_to 'Find a course', root_path


