- if user_signed_in? && current_user.is_admin?
  = link_to 'Create new course', new_course_path, class: 'btn btn-primary'
#title-top
  #homepage-bg
    .container
      %h1.intro-text HoneHouse is your home for skill development
      %h2.intro-subtitle Check out our featured course below
#index-lower
  .container
    - @courses.each_slice(3) do |course_group|
      #courses.row
        - course_group.each do |course|
          .course.col-sm-4{id: "course_#{course.id}"}
            = image_tag course.course_image.url(:square), class: 'thumbnail-img', href: course_path(course)
            .homepage-box
              = link_to course.title.upcase, course_path(course), class: 'course-link'
